@model EuphoriaShop.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "Thêm danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm danh mục</h1>

<h4>Danh mục</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-area="Admin" asp-asp-controller="HomeAdmin" asp-action="ThemDanhMuc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="CategoryId" class="form-control" value="@ViewBag.CategoryId" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryImg" class="control-label"></label>
                <input asp-for="CategoryImg" class="form-control" />
                <span asp-validation-for="CategoryImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm danh mục" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CategoryProduct">Trở về</a>
</div>

