@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:cadetblue">Subcribe success!</h2><br />
<p>Thank you for registering to receive promotions from us.</p>

<p><a href="~/Home/Index">Back to Shop</a></p>
