@model IEnumerable<EuphoriaShop.Models.Category>

<div class="col-lg-3">
    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All Categories</span>
        </div>
        <ul>
            @foreach(var item in Model) {
                @*<li><a href="#">@Html.DisplayFor(modelItem => item.CategoryName)</a></li>*@
                <li><a asp-controller="Home" asp-action="SanPhamTheoLoai"
                 asp-route-maloai="@item.CategoryId">@item.CategoryName</a></li>
            }
        </ul>
    </div>
</div>
